<!DOCTYPE html>
<html xml:th="https://www.tymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<section class="create-workout-log" th:fragment="create-workout-log">
    <label class="exit-label">
        <button class="exit" onclick="closeLog()">
            <label class="x-mark">X</label>
        </button>
    </label>
    <form class="workout-log-form">
        <section class="name-section">
            <label class="workout-name-label">name: </label>
            <input class="workout-name-input" id="workout-name" type="text">
        </section>
        <div class="all-days">
            <section id="monday-section">
                <button class="add" id="add-monday" onclick="openExercisesLog()" type="button">+</button>
                <h2>Monday</h2>
                <article class="day">
                    <label>
                        <ol id="day-list">
                        </ol>
                        <img class="coffee" alt="" src="/pics/cup-of-coffee.png">
                    </label>
                </article>
            </section>
            <section id="tuesday-section">
                <button class="add" id="add-tuesday" onclick="openExercisesLog()" type="button">+</button>
                <h2>Tuesday</h2>
                <article class="day">
                    <label>
                        <p></p>
                        <img class="coffee" alt="" src="/pics/cup-of-coffee.png">
                    </label>
                </article>
            </section>
            <section id="wednesday-section">
                <button class="add" id="add-wednesday" onclick="openExercisesLog()" type="button">+</button>
                <h2>Wednesday</h2>
                <article class="day">
                    <label>
                        <p></p>
                        <img class="coffee" alt="" src="/pics/cup-of-coffee.png">
                    </label>
                </article>
            </section>
            <section id="thursday-section">
                <button class="add" id="add-thursday" onclick="openExercisesLog()" type="button">+</button>
                <h2>Thursday</h2>
                <article class="day">
                    <label>
                        <p></p>
                        <img class="coffee" alt="" src="/pics/cup-of-coffee.png">
                    </label>
                </article>
            </section>
            <section id="friday-section">
                <button class="add" id="add-friday" onclick="openExercisesLog()" type="button">+</button>
                <h2>Friday</h2>
                <article class="day">
                    <label>
                        <p></p>
                        <img class="coffee" alt="" src="/pics/cup-of-coffee.png">
                    </label>
                </article>
            </section>
            <section id="saturday-section">
                <button class="add" id="add-saturday" onclick="openExercisesLog()" type="button">+</button>
                <h2>Saturday</h2>
                <article class="day">
                    <label>
                        <p></p>
                        <img class="coffee" alt="" src="/pics/cup-of-coffee.png">
                    </label>
                </article>
            </section>
            <section id="sunday-section">
                <button class="add" id="add-sunday" onclick="openExercisesLog()" type="button">+</button>
                <h2>Sunday</h2>
                <article class="day">
                    <label>
                        <p></p>
                        <img class="coffee" alt="" src="/pics/cup-of-coffee.png">
                    </label>
                </article>
            </section>
        </div>
        <form class="save-label">
            <input class="save" type="submit" value="SAVE">
        </form>
    </form>
</section>
<script src="/js/home-page.js"></script>
</body>
</html>
