<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<footer th:fragment="footer">
    <p class="support-para">Support:</p>
    <article class="socials-div">
        <a href="https://www.facebook.com/gerogi.stanimirov"><i class="fab fa-facebook footer-icon"></i></a>
        <a href="https://www.instagram.com/georgi_mihalev404/"><i class="fab fa-instagram footer-icon"></i></a>
        <a href="https://mail.google.com/mail/u/0/#search/gogostanimirov%40gmail.com?compose=new">
            <i class="fas fa-envelope footer-icon"></i></a>
        <a href="https://github.com/Maestrosilva"><i class="fa fa-github footer-icon"></i></a>
    </article>
</footer>
</body>
</html>
