<!DOCTYPE html>
<html lang="en">
<head th:include="fragments/head::head"></head>
<style>
    #wrapper {
        display: flex;
        justify-content: center;
    }

    #development {
        text-align: center;
        font-size: 60px;
        width: 40%;
        background: rgba(175, 175, 175, 0.2);
        padding-top: 200px;
        padding-bottom: 300px;
    }
</style>
<body>
<header th:include="fragments/head.html :: header"></header>
<div id="wrapper">
    <h1 id="development">Still in Development!</h1>
</div>
</body>
<footer th:replace="fragments/footer :: footer"></footer>
</html>
