<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head::head"></head>
<body>
<header th:replace="fragments/head :: header"></header>
<section class="stats-section">
    <canvas id="myChart" style="width:100%;max-width:600px"></canvas>
    <div class="btn-div">
        <button></button>
        <button></button>
        <button></button>
    </div>
</section>
<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>
</script>
<body>

<script>
    // weight divided by ( 1.0278 – 0.0278 × reps )

    const data = {
        labels: ['2022/01/01', '2022/02/02', '2022/03/03', '2022/04/04'],
        datasets: [{
            label: 'personal best progress',
            data: [100, 110, 120, 105]
        }]
    }
    new Chart("myChart", {
        type: "line",
        data, options:{
            scales:{
                x: {
                    min: '2022/01/01',
                    max: '2022/12/31',
                    type: 'time',
                    time: {
                        units: 'day'
                    }
                },
                y: {
                    max: '400'
                }
            }
        },
        opacity: 0.7
    });
</script>

<script type="module">
    document.getElementsByClassName('create-workout-log').item(0).style.visibility = 'hidden';
    document.getElementById('exercises-section').style.visibility = 'hidden';
    document.getElementById('category-section').style.visibility = 'hidden';
    document.getElementById('muscle-group-section').style.visibility = 'hidden';
</script>
