<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head::head"></head>
<body>
<header th:include="fragments/head :: header"></header>
<main>
    <section id="workout-section-wrapper">
        <section id="workout-section">
            <label id="workout-label"
                   th:text="${name} + ' - ' + ${day.toLowerCase()}">
            </label>
            <section id="workout-img"
                     th:if="${exercises.isEmpty()}">
                <label>
                    <img src="/pics/cup-of-coffee.png">
                </label>
            </section>
            <table id="workout-table"
                   th:if="${!exercises.isEmpty()}">
                <thead>
                <tr>
                    <td></td>
                    <td>Exercise Type</td>
                    <td>Kg</td>
                    <td>Reps</td>
                    <td>Sets</td>
                </tr>
                </thead>

                <tr th:each="exercise : ${exercises}">
                    <td th:text="${exercise.getNumber()}"></td>
                    <td th:text="${exercise.getExerciseType().name().replaceAll('_', ' ')}"></td>
                    <td th:text="${exercise.getKg()}"></td>
                    <td th:text="${exercise.getReps()}"></td>
                    <td th:text="${exercise.getNumberOfSets()}"></td>
                </tr>
            </table>
            <div class="buttons-wrapper">
                <form class="buttons" th:action="@{/home}"
                      th:method="get">
                    <button id="home">Home</button>
                </form>
                <form th:action="@{/workout/{wokoutName}(wokoutName = ${workoutName})}"
                      th:method="post"
                      class="buttons">
                    <input id="date-button"
                           class="date-button"
                           th:value="${date}"
                           placeholder="date"
                           th:name="date"
                           type="date">
                </form>
                <form class="buttons"
                      th:action="@{/workout/edit/{workout}/{date}(workout = ${workoutName}, date = ${date})}"
                      th:method="post">
                    <button
                            id="edit-workout-button"
                            type="submit">Edit
                    </button>
                </form>
                <form class="buttons"
                      th:action="@{/workout/remove/{workout}(workout = ${workoutName})}"
                      th:method="post">
                    <button id="delete-workout-button"
                            type="submit">Delete
                    </button>
                </form>
            </div>
        </section>
    </section>
</main>
<footer th:replace="fragments/footer :: footer"></footer>
</body>
<script>
    var dateButton = document.getElementsByClassName('date-button')[0];
    dateButton.addEventListener('change',function(e){
        /* additional date validation here */
        dateButton.parentNode.submit();
    },false);
</script>
</html>
