.intro{
    margin-top: 5rem;
    display: grid;
    justify-content: center;
    /*margin-bottom: 5rem;*/
}
.intro div{
    background: rgba(82, 86, 87, 0.25);
    width: 30rem;
}
.intro p{
line-height: 30px;
    text-align: justify;
}
