.stats-section{
    display: flex;
    justify-content: center;
    padding: 10%;
    width: 100%;
}
.stats-section canvas{
    width: 60%;
}
.btn-div{
    display: grid;
    width: 30%;
}
.btn-div button{
    margin: 20px;
    width: 60%;
    height: 30%;
}
