.create-workout-log {
    display: inline;
    position: fixed;
    width: 80%;
    height: 70%;
    background: gray;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    -webkit-clip-path: polygon(0 0, 0 340px, 65px 100%, 1010px 100%, 100% 340px, 100% 0);
    opacity: 0.9;
}
.exit-label {
    width: 25px;
    height: 25px;
    position: absolute;
    right: 0;
    top: 0;
}
.exit {
    border-top-right-radius: 10px;
    width: 100%;
    height: 100%;
    background: red;
}

.all-days {
    display: flex;
    justify-content: center;
}
.name-section{
    margin: 20px 20px 20px 40px;
    display: flex;
}
.workout-name-label{
    font-size: 20px;
    margin-right: 10px;
}
.workout-log-form section {
    width: 14%;
}
.workout-name-input{
    font-size: 18px;
}
.all-days section{
    margin: 2px;
}
.all-days section *{
    margin: 0;
}
.all-days section h2{
    background: mintcream;
    border: 2px solid black;
    text-align: center;
}
.all-days section article{
    height: 160px;
    background: #CBCBCB;
    margin-top: 0;
}
.day label{
    padding-top: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
}
.coffee{
    width: 100%;
    height: 100%;
}
.day label img{
    height: 80%;
    width: 80%;
}
.save{
    width: 200px;
    height: 60px;
    background: greenyellow;
    font-size: 24px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}
.save-label{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
.add{
    font-size: 20px;
    background: greenyellow;
}
.day-list{
    padding: 0 20px 20px;
    height: 130px;
    width: 150px;
    position: absolute;
    overflow-y: auto;
    scroll-behavior: smooth;
}
.remove{
    padding-left: 0;
    font-size: 16px;
    /*width: 70%;*/
    border: none;
    background: transparent;
    text-align: left;
}
.remove:hover{
    background: transparent;
    cursor: pointer;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
