#exercises-section {
    position: fixed;
    width: 400px;
    height: 400px;
    background: slategrey;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid slateblue;
    border-radius: 45px 15px;
    display: block;
}

.input-div {
    margin: 5px 20px;
    width: 400px;
    display: flex;
    height: 30px;
}

.input-div label {
    color: white;
    width: 120px;
    font-size: 20px;
    margin-right: 10px;
}

.input-div input {
    font-size: 16px;
    border-radius: 12px;
    background: mintcream;
    color: #504949;
    width: 70px;
    text-align: center;
}

.filters {
    display: flex;
    width: 400px;
}

.filters button {
    border: 1px solid mediumpurple;
    background: slateblue;
    font-family: "Segoe MDL2 Assets", sans-serif;
    text-align: center;
    padding: 5px 0;
}

.filters button:hover {
    background: mediumorchid;
}

.all {
    width: 80px;
}

.category, .muscle-group {
    width: 155px;
}

.filter-section {
    position: absolute;
    width: 155px;
    display: grid;
    z-index: 100;
}

.filter-section * {
    background: #9575CD;
    text-align: left;
    border: 1px solid #7E57C2;
}

.filter-section *:hover {
    background: #5A3F8E;
}

#category-section {
    left: 235px;
}

#muscle-group-section {
    left: 80px;
}
.exercises{
    width: 390px;
    height: 225px;
    display: inline-flex;
    margin: 20px 0;
    overflow: scroll;
    overflow-x: hidden;
    background: #9575CD;
    border-bottom-right-radius: 45px;
    border-bottom-left-radius: 15px;
}
.exercises-list {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

.exercises-list li{
    height: 90px;
    width: 90px;
    border: 1px solid transparent;
    justify-content: center;
    margin: 5px 15px;
    padding: 0;
    background: darkorchid;
}

.exercises-button {
    width: 90px;
    height: 70px;
    border: none;
    background: none;
    padding: 0 0 40px;
}
.exercises-button:hover{
    opacity: 0.4;
}
.exercises-button span{
    border: none;
    font-weight: bold;
    background: none;
    font-size: 12px;
    height: 15px;
}
.show{
    font-weight: bold;
    font-size: 12px;
    width: 90px;
    height: 20px;
    background: lightgreen;
    border: none;
}
.exercises-button label {
    margin-top: 0;
    font-size: 10px;
    height: 10px;
}

.exc-image-wrapper {
    width: 75px;
    height: 75px;
}