* {
    box-sizing: border-box;

}
html{
    width: 100%;
}

body *, body *:before, body *:after { box-sizing: inherit; }

img {
    width: 100%;
    height: 100%;
}

.invalid-feedback{
    color: indianred;
    text-align: center;
    margin: 0;
    position: relative;
    bottom: 20px;
}
body {
    margin: 0;
    background-image: linear-gradient(to right, #959595, #AFAFAF, #CBCBCB, #AFAFAF, #959595);
    height: auto;
    width: auto;
    justify-content: center;
    justify-items: center;
}
header {
    margin: 0;
    background: linear-gradient(0deg, #525657 0%, #858e96 100%);
    height: 60px;
    width: 100%;
    top: 0;
    position: fixed;
    text-align: center;
    font-family: "Arial Rounded MT Bold", serif;
    /*opacity: 0.75;*/
}
nav{
    display: flex;
    justify-content: center;
}

nav section{
    width: 60%;
    color: lightcyan;
    font-size: 1.4rem;
    font-family: Brush Script MT, Brush Script Std, cursive;
    font-stretch: ultra-expanded;
}
nav section h2{
    margin: 10px 0 0;
}

ul {
    height: 35px;
    display: flex;
    list-style-type: none;
    justify-content: right;
}

.nav-ul li {
    padding-left: 20px;
    padding-right: 20px;
    border-left: 1px lightcyan solid;
    border-right: 1px lightcyan solid;
    margin-right: 25px;
    height: 100%;
}

.nav-ul li *{
    text-decoration: none;
    color: lightcyan;
    height: 30px;
    font-size: 1.4rem;
}
.nav-ul li button{
    border: 0;
    background: transparent;
}

.nav-ul li button:hover{
    background: transparent;
}

.nav-ul li *:hover{
    color: lightblue;
}

.menu{
    display: none;
}
.nav-name{
    color: whitesmoke;
    font-family: fantasy;
    text-align: center;
    width: 20%;
}
.profile-img-label{
    margin-top: 5px;
    height: 50px;
    width: 50px;
    border: 1px solid black;
    border-radius: 50px;
}
.profile-img-label i{
    margin-top: 7px;
    border-radius: 50px;
    font-size: 40px;
    color: whitesmoke;
}
