.all-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 100%;
}

.workouts-section {
    width: 75%;
    height: 500px;
    font-size: 26px;
    background: lightslategray;
    background: url("/pics/frame-img.png");
    background-size: 100%;
    border-radius: 30px;
    padding: 80px 80px 30px 80px;
    color: lightgray;
}

.workout-section-wrapper {
    display: flex;
    width: 60%;
    justify-content: center;
    background: rgba(245, 245, 245, 0.3);
    padding-top: 100px;
    padding-bottom: 200px;
}

.workouts-article {
    overflow-y: auto;
    scroll-behavior: smooth;
    height: 100%;
    /*padding: 15px;*/
}

.workout-list {
    width: 100%;
    display: block;
}

.workout-list li {
    padding: 10px
}

*::-webkit-scrollbar {
    background-color: #504949;
    border: 4px solid transparent;
    border-radius: 8px;
    background-clip: padding-box;
    height: 85%;
}

*::-webkit-scrollbar-thumb {
    background-color: dimgray;
    border: 4px solid transparent;
    border-radius: 8px;
    background-clip: padding-box;
}

.empty {
    text-align: center;
    font-size: 45px;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 30px;
    color: #c0b2b2;
}

body {
    background: url("/pics/img.png") no-repeat;
    background-size: cover;
}

main {
    display: flex;
    margin-bottom: 0;
}

section {
    width: 45%;
    display: block;
}

a {
    text-decoration: none;
    color: #494949;
}