<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head::head"></head>
<body>
<header th:include="fragments/head.html :: header"></header>
<article class="intro">
    <div>
        <h2>Welcome to Workout Program Maker</h2>
        <p>Now is the best time to start getting fit and healthy. You'll love our website because it lets you
            create your very own workout program with tons of different exercises to choose from. Whether you're a
            beginner or a pro athlete, this site is perfect for you. Plus, you can keep track of your progress and
            see
            how far you've come. And the best part? We'll show you how to do each exercise correctly so you can get
            the
            most out of your workout. Let's get started!</p>
    </div>
</article>
<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>